[include]
  path = ~/.gitconfig_env
[color]
  ui = auto
[alias]
  c = commit
  s = status
  f = push --force-with-lease
  p = push
  st = status
  aa = add --all
  au = add --update
  co = checkout
  cu = branch --show-current
  cs = commit --signoff
  lc = show HEAD^
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
  ll = log --oneline
  pf = !git remote | xargs -L1 git push --force-with-lease
  pu = pull
  rb = rebase
  # https://stackoverflow.com/a/11688523/472927
  ss = "!f() { git stash show stash^{/$*} -p; }; f"
  sa = "!f() { git stash apply stash^{/$*}; }; f"
  sl = stash list
  csm = commit --signoff --message
  csn = commit --signoff --no-edit
  casn = commit --amend --signoff --no-edit
  last = log -1 HEAD
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
  safecrlf = true
  editor = nvim
[pull]
  ff = only
[push]
  default = simple
[fetch]
  prune = true
[rebase]
  autosquash = true
[merge]
  conflictstyle = diff3
  tool = nvimdiff
[rerere]
  enabled = true
[log]
  date = local
[diff]
  algorithm = patience
  compactionHeuristic = true
  tool = nvimdiff
[credential]
  helper = store
[help]
  autocorrect = 0
[ui "color"]
  ui = always
[color]
  ui = true
[github]
  user = mirgee
[protocol]
  version = 2
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[gpg]
	program = gpg
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[branch]
	sort = -committerdate
[column]
	ui = auto
